{% extends 'base.html' %}

{% block head %}
<style>.jumbotron{height: 100vh;}</style>
{% endblock %}

{% block body %}
<div class="jumbotron">
    <div class="container">
        <div class="col-md-12 text-center">
            <span class="display-1 d-block">Oops!</span>
            <div class="mb-4 lead">Something went wrong. Please double check if the submitted file is of supported format.</div>
            <a href="/" class="btn btn-link">Back to Home</a>
        </div>
    </div>
</div>
{% endblock %}